Source: ros-noetic-lusb
Section: misc
Priority: optional
Maintainer: Kevin Hallenbeck <khallenbeck@dataspeedinc.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libusb-1.0-0-dev, ros-noetic-catkin
Homepage: http://dataspeedinc.com
Standards-Version: 3.9.2

Package: ros-noetic-lusb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libusb-1.0-0
Description: Library for interfacing to USB devices
